*~
*#

*.sif
*.simg

*.pyc
__pycache__

*.pth
*.png
*.svg
*.pdf
*.mp4

*.dat
*.npz
*.nfs*
*.npy

*.csv
*.gif

# Adding results to gitlab
!results/**
!results_0/**
!results_1/**
!results_2/**
!results_3/**